  <%= form_for :order, url: hotel_room_orders_path(@hotel.id,@room.id),method: :POST do |form| %>

    <div class="field">
      <%= form.label :from %>
        <div class="form-group">
          <div class='input-group date' id='datetimepicker6'>
            <%= form.text_field :form, id: :order_form, class:'form-control', id:'datefrom' %>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
          </div>
        </div>
    </div>
    <div class="field">
      <%= form.label :to %>
        <div class="form-group">
          <div class='input-group date' id='datetimepicker7'>
            <%= form.text_field :to, id: :order_to, class:'form-control', id: 'dateto' %>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
          </div>
        </div>
    </div>

    <div class="actions">
      <button class="btn btn-lg btn-primary btn-block" id="order-btn"style="margin-top:10px" type="submit">Order</button>
    </div>
  <% end %>

