<%= form_with(model: [ @hotel ,@room, @room.orders.build(:user_id => current_user.id) ]) do |form| %>

  <div class="field">
    <%= form.label :form %><br>
    <%= form.text_field :form, id: :order_form, class:'datepicker', size: 38 %>
  </div>
  <div class="field">
    <%= form.label :to %><br>
    <%= form.text_field :to, id: :order_to, class:'datepicker', size: 38 %>
  </div>

  <div class="field">
    <%= form.label :user_id %><br>
    <%= form.text_field :user_id, id: :order_user_id, size: 38 %>
  </div>

  <div class="field">
    <%= form.label :room_id %><br>
    <%= form.text_field :room_id, id: :order_room_id, size: 38 %>
  </div>

  <div class="actions">
    <button class="btn btn-lg btn-primary btn-block" style="margin-top:10px" type="submit">Create Room</button>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker({
      format: "dd-mm-yyyy",
      datesDisabled: ['15/12/2017'],
    });
  });
</script>
