<%= form_for :order, url: hotel_room_orders_path(@hotel.id,@room.id),method: :POST do |form| %>
  <div class="field">
    <%= form.label :form %>
      <div class="form-group">
        <div class='input-group date' id='datetimepicker6'>
          <%= form.text_field :form, id: :order_form, class:'form-control' %>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
      </div>
  </div>
  <div class="field">
    <%= form.label :form %>
      <div class="form-group">
        <div class='input-group date' id='datetimepicker7'>
          <%= form.text_field :to, id: :order_to, class:'form-control' %>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
      </div>
  </div>

  <div class="field">
    <%= form.label :user_id %><br>
    <%= form.text_field :user_id, id: :order_user_id, size: 38 %>
  </div>
  

  <div class="actions">
    <button class="btn btn-lg btn-primary btn-block" style="margin-top:10px" type="submit">Create Room</button>
  </div>
<% end %>

    <script type="text/javascript">
      $(function () {
        $('#datetimepicker6').datetimepicker();
        $('#datetimepicker7').datetimepicker({
          useCurrent: false //Important! See issue #1075
        });
        $("#datetimepicker6").on("dp.change", function (e) {
          $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
        });
        $("#datetimepicker7").on("dp.change", function (e) {
          $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
        });
      });
    </script>
