<p style="background-color:white; margin:0 15px 30px 15px;" class="col-sm-2" id="cus_order_show">
  <strong>ID:</strong>
  <%= order.id %>
  <strong>User:</strong>
  <%= order.user.name %>
  <strong>Form:</strong>
  <%= order.form.strftime("%d-%m-%Y")%><br>
  <strong>To:</strong>
  <%= order.to %>
</p>
<p>
  <strong>User:</strong>
  <%=order.user.email %>
</p>
