<p style="background-color:white; margin:0 15px 30px 15px;" class="cus_order_show col-sm-2 " id="cus_order_show">

  <strong>User:</strong>
  <%=order.user.name %><br>

  <strong id="<%= order.form%>" class="form">From:</strong>
  <%= order.form%><br>
  <strong id="<%= order.to %>" class="to">To:</strong>
  <%= order.to %>
</p>
