  <p class="cus_order_show col-lg-2 " id="cus_order_show">
    <strong>User:</strong>
    <%= order.user.email %>

    <strong id="<%= order.form%>" class="form">Form:</strong>
    <%= order.form%><br>
    <strong id="<%= order.to %>" class="to">To:</strong>
    <%= order.to %>
  </p>
