<h1>Editing Order</h1>

<%= form_for @order, url: order_path(@order), method: :patch do |form| %>

    <div class="field">
      <%= form.label :form %>
        <div class="form-group">
          <div class='input-group date' id='datetimepicker6'>
            <%= form.text_field :form, id: :order_form, class:'form-control', id:'datefrom' %>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
          </div>
        </div>
    </div>
    <div class="field">
      <%= form.label :to %>
        <div class="form-group">
          <div class='input-group date' id='datetimepicker7'>
            <%= form.text_field :to, id: :order_to, class:'form-control', id: 'dateto' %>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
          </div>
        </div>
    </div>

    <div class="actions">
      <button class="btn btn-lg btn-primary btn-block" id="order-btn"style="margin-top:10px" type="submit">Order</button>
    </div>
  <% end %>

<script type="text/javascript">
   Date.prototype.addDays = function(days) {
       var dat = new Date(this.valueOf())
       dat.setDate(dat.getDate() + days);
       return dat;
   }

   function getDates(startDate, stopDate) {
      var dateArray = new Array();
      var currentDate = startDate;
      while (currentDate <= stopDate) {
        dateArray.push(currentDate)
        currentDate = currentDate.addDays(1);
      }
      return dateArray;
    }
       $(document).ready(function(){
         var today = new Date();
         

            var datefrom = [];
            var dateto = [];
            var dateorder = [];

            $(".cus_order_show").find("strong.form").each(function(){ datefrom.push(this.id); });
            $(".cus_order_show").find("strong.to").each(function(){ dateto.push(this.id); });
            var d = new Date(dateto[0]);

            var q = new Date(datefrom[0]);
            for (var i = 0; i < datefrom.length; i++) {
              var f = new Date(datefrom[i]);
              var t = new Date(dateto[i]);
              var dateArray = getDates(f, t);
              dateorder =dateorder.concat(dateArray);
                <%# if(f.getYear() == t.getYear()){

                if(f.getMonth() == t.getMonth()){
                    alert(f.getMonth());
                    alert(t.getMonth());
                  if (f.getDate() == t.getDate()){
                    var tmp = (f.getMonth()+1+"/"+f.getDate()+"/"+f.getFullYear()).toString();
                    dateorder.push(tmp);
                  }
                  else{

                  var count = t.getDate()-f.getDate();

                  for (var j = 0; j <= count ; j++) {

                    var tmp = (f.getMonth()+1+"/"+f.getDate()+"/"+f.getFullYear()).toString();
                    dateorder.push(tmp);

                    f.setDate(f.getDate() + 1);


                  }
                  }
                }
                else{
                  var count = t.getMonth()-f.getMonth();
                  alert(t.getMonth());
                }
              } %>
            }

          $('#datetimepicker6').datetimepicker({
            useCurrent: false ,
            minDate: today,
            format: 'YYYY/MM/DD',
                    disabledDates: dateorder
            });
          $('#datetimepicker7').datetimepicker({ 
            useCurrent: false ,//Important! See issue #1075
            minDate: today,
            format: 'YYYY/MM/DD',
                    disabledDates: dateorder
            });
          $("#datetimepicker6").on("dp.change", function (e) {
            $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
          });
          $("#datetimepicker7").on("dp.change", function (e) {
            $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
          });

          $("#order-btn").click(function(e){
          var orderfrom = new Date(document.getElementById("datefrom").value);
          var orderto = new Date(document.getElementById("dateto").value);
        $.each(dateorder , function (index, value){
          if(orderfrom < value && orderto > value){
            e.preventDefault();
            alert("Phòng đã bị đặt trong khoảng thời gian ");
            return false;

          }
        });
        


          });
                });

</script>

<%= link_to 'Show', @order %> |
<%= link_to 'Back', orders_path %>
