

<div class="container">
    <div class="row col-md-12 col-md-offset-0 custyle">
      <h1>My Orders</h1>
    <table class="table table-striped custab">
    <thead>
        <tr>
            <th>Form</th>
            <th>To</th>
            <th>User</th>
            <th>Hotel</th>
            <th>Room</th>
            <th>Total</th>
            <th class="text-center">Action</th>

        </tr>
    </thead>
    <% current_user.orders.each do |order| %>
            <tr>
                 <td><%= order.form %></td>
                  <td><%= order.to %></td>
                  <td><%= order.user.name %></td>
                  <td><%= order.room.hotel.name %></td>
                  <td><%= order.room.type.name %></td>
                  <td><%= order.total %></td>
                                <td class="text-center">
                  <%= link_to 'Destroy', order, class:"btn btn-danger btn-xs", method: :delete, data: { confirm: 'Are you sure?' } %>
                </td>
            </tr>
    <% end %>
    </table>
    </div>
</div>
