
<p>
  <strong>Form:</strong>
  <%= @order.form %>
</p>

<p>
  <strong>To:</strong>
  <%= @order.to %>
</p>

<p>
  <strong>User:</strong>
  <%= @order.user.name %>
</p>

<p>
  <strong>Room:</strong>
  <%= @order.room.id %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
