<p id="notice"><%= notice %></p>
<h1>Dash Board</h1>
<section class="listings">
  <div id="large-header" class="large-header">
    <div class="wrapper">
      <ul class="properties_list">
        <% @hotels.each do |hotel| %>
          <tr>
            <td>
            </td>
            <li class="row">
            <%if hotel.picture[0] == nil%>
                         <%=  image_tag "no_image_available.jpg" %>
            <%else%>
             <%=  image_tag hotel.picture[0].url %>
              <%end%>
              <div class="property_details" style="width:100%" >
                <h1>
                  <td>
                    <%= hotel.name %>
                  </td>
                  <td>
                    <%= rating_for hotel, "rate" , cancel_place: 'right'  ,data: { turbolinks: false } %>
                  </td>
                </h1>
                <h2>
                  <td>
                    <%= hotel.description %>
                  </td>
                  <span class="property_size"></span>
                </h2>
                <td>
                  <%= hotel.user.name %>
                </td>
                <td>
                  <%= link_to 'Show', hotel %>
                  <td><%= link_to 'Edit', edit_hotel_path(hotel) %></td>
                  <td><%= link_to 'Destroy', hotel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </td>
              </div>
            </li>


            <!-- Controls -->

            <% end %>
      </ul>

    </div>
</section>

</div>
<div style="text-align: center">
<%= will_paginate @hotels %>
</div>
