<!-- chia cot -->
<div class="col-md-3">
  <div class="product-item">
    <h4 class="<%=room.type.name%>" style="font-size: 26px; padding:10px; margin:0 10px 0 10px; border-radius: 10px;">
      <b><%= room.type.name.upcase %></b>
    </h4>
    <h4 style="margin-left:10px">
      <strong>Bed:</strong>
      <%= room.bed %>
    </h4>
    <h4 style="margin-left:10px">
      <strong>Price:</strong>
      <%= room.price %>
    </h4>
    <h4 style="margin-left:10px">
      <strong>Status:</strong>
      <% if room.status == true%>
        Phòng Đã Đặt
      <%else%>
        Phòng Trống
      <% end %>
    </h4>
      <% if can? :update, @hotel %>
        <%= link_to 'Destroy Room', [room.hotel, room],
            method: :delete,
            data: { confirm: 'Are you sure ?'},
            class:"button button-neutral",
            id:"cus_linkto_destroy" %>
      <% end %>
    <%= link_to 'Order', hotel_room_path(room.hotel.id,room), :popup => true,
          class:"btn-show button button-primary",
          id:"cus_linkto_order" %>
    <% if can? :update, @hotel %>
    <%= link_to 'Edit Room', edit_hotel_room_path(room.hotel_id, room),
          class:"button button-neutral",
          id:"cus_linkto_edit"%>
    <% end %>
  </div>
</div>

<!-- <p> <strong>Type:</strong> <%= room.type.name %> </p> <p> <strong>Bed:</strong> <%= room.bed %> </p> <p> <strong>Status:</strong> <% if room.status == true%> Phòng Đã Đặt <%else%> Phòng Trống <% end %> </p> <% if can? :update, @hotel %> <p> <%=
link_to 'Destroy Room', [room.hotel, room], method: :delete, data: { confirm: 'Are you sure ?'} %> </p> <p> <%= link_to 'Edit Room', edit_hotel_room_path(room.hotel_id, room) %> </p> <% end %> -->
