<h1>Editing Room</h1>

<%= form_for :room, url: hotel_room_path,method: :PATCH do |form| %>
  <p>
    <%= form.label :type_id %>
    <%= collection_select(:room, :type_id, Type.all, :id, :name, {prompt: true}) %>
  </p>
  <p>
    <%= form.label :bed %>
    <%= form.number_field :bed, id: :room_bed %>
  </p>
  <p>
    <%= form.label :status %>
    <%= form.check_box :status, id: :room_status %>
  </p>
  <p>
    <p>
    <%= form.label :price %>
    <%= form.number_field :price, id: :room_price %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
<%= link_to "Back", :back %>
