<div class="body_hotel row">
  <div class="col-xs-4 col-sm-2" id="cus_room">
    <p id="cus_hotel_name">
      <%= @room.hotel.name %>
    </p>
    <p>
      <strong>ID Room :</strong>
      <%= @room.id %>
    </p>

    <p>
      <strong>Type :</strong>
      <%= @room.type.name %>
      <span style="margin-left:20px;"></span>
      <strong>Bed :</strong>
      <%= @room.bed %>
    </p>

  </div>

  <div class="col-xs-4 col-sm-7" id="show_order">

    <%= render @room.orders %>
  </div>


  <div class="col-lg-3" id="add_order" >
    <div>
      <% if can? :update, @hotel %>
        <hr class="omb_hrOr">
        <div id="cus_addroom">
          <h2 style="text-align:center">ORDER</h2>
          <%= render 'orders/form' %>
        <% end %>
      </div>
      <div class="col-sm-12" id="cus_button_back_order">
        <%= link_to 'Back', hotel_path(@hotel), class:"btn btn-lg btn-warning btn-block" %>
      </div>
    </div>
  </div>
</div>
