<p>
  <strong>Type:</strong>
  <%= @room.type.name %>
</p>

<p>
  <strong>Hotel:</strong>
  <%= @room.hotel.name %>
</p>

<p>
  <strong>Bed:</strong>
  <%= @room.bed %>
</p>

<p>
  <strong>Status:</strong>
  <%= @room.status %>
</p>

<h2>Orders</h2>
<%= render @room.orders %>

<h2>Add a order:</h2>
<%= render 'orders/form' %>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
</div>
