

<div class="container">
    <div class="row col-md-12 col-md-offset-0 custyle">
      <h1>CITIES</h1>
    <table class="table table-striped custab">
    <thead>
    <%= link_to '+ New City', new_city_path, class:"btn btn-primary btn-xs pull-right"%>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
    <% @cities.each do |city| %>
            <tr>
                <td><%= city.name_city %></td>
                <td><%= city.description %></td>
                <td class="text-center">
                  <%= link_to 'Edit', edit_city_path(city), class:'btn btn-info btn-xs' %>
                  <%= link_to 'Destroy', city, class:"btn btn-danger btn-xs", method: :delete, data: { confirm: 'Are you sure?' } %>
                </td>
            </tr>
    <% end %>
    </table>
    </div>
</div>
