<%= form_with(model: hotel, local: true) do |form| %>
  <% if hotel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hotel.errors.count, "error") %> prohibited this hotel from being saved:</h2>

      <ul>
      <% hotel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="field">
    <%= form.label :city_id %>
    <%= collection_select(:hotel, :city_id, City.all, :id, :name, {prompt: true}) %>

  </div>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :hotel_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :hotel_description %>
  </div>
    <div class="field">
    <%= form.label :picture %>
    <%= form.file_field :picture,multiple: true, id: :home_stay_picture %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
