
<h1>Hotels</h1>

<section class="listings">
  <div id="large-header" class="large-header">
    <div class="wrapper">
      <ul class="properties_list">
        <% @hotels.each do |hotel| %>
          <tr>
            <td>
            </td>
            <li class="row">
             <%=  image_tag hotel.picture[0].url %>
              
              <div class="property_details" style="width:100%" >
                <h1>
                  <td>
                    <%= hotel.name %>
                  </td>
                  <td>
                    <%= rating_for hotel, "rate" , cancel_place: 'right'  ,data: { turbolinks: false } %>
                  </td>
                </h1>
                <h2>
                  <td>
                    <%= hotel.description %>
                  </td>
                  <span class="property_size"></span>
                </h2>
                <td>
                  <%= hotel.user.name %>
                </td>
                <td>
                  <%= link_to 'Show', hotel %>
                </td>
              </div>
            </li>


            <!-- Controls -->

            <% end %>
      </ul>

    </div>
</section>

</div>
<div style="text-align: center">
<%= will_paginate @hotels %>
</div>

