<p id="notice">
  <%= notice %>
</p>
<h1>Hotels</h1>

<section class="listings">
  <div id="large-header" class="large-header">
    <div class="wrapper">
      <ul class="properties_list">
        <% @hotels.each do |hotel| %>
          <tr>
            <td>
            </td>
            <li class="row" style="margin:0px;padding:0px">
              <div id="shout-carousel<%=hotel.id%>" class="carousel slide col-lg-12" data-ride="carousel" style="margin:0px;padding:0px">
                <div class="carousel-inner col-lg-4" style="margin:0px;padding:0px">
                  <div class="item active col-lg-12" style="margin:0px;padding:0px">
                    <%=  image_tag hotel.picture[0].url %>
                  </div>
                <%y = hotel.picture.count-1 %>
                    <% 1.upto(y) do |x|%>
                  <div class="item col-lg-12" style="margin:0px;padding:0px">
                        <% x%>
                          <%=  image_tag hotel.picture[x].url %>
                  </div>
                  <a class="left carousel-control" href="#shout-carousel<%=hotel.id%>" role="button" data-slide="prev" style="margin:0px;padding:0px">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                  </a>
                  <a class="right carousel-control" href="#shout-carousel<%=hotel.id%>" role="button" data-slide="next" style="margin:0px;padding:0px;">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                  </a>
                <% end%>

                </div>
              <div class="property_details" >
                <h1>
                  <td>
                    <%= hotel.name %>
                  </td>
                  <td>
                    <%= rating_for hotel, "rate" , cancel_place: 'right' ,imdb_avg: true ,data: { turbolinks: false } %>
                  </td>
                </h1>
                <h2>
                  <td>
                    <%= hotel.description %>
                  </td>
                  <span class="property_size"></span>
                </h2>
                <td>
                  <%= hotel.user.name %>
                </td>
                <td>
                  <%= link_to 'Show', hotel %>
                </td>
              </div>
            </li>


            <!-- Controls -->

            <% end %>
      </ul>

    </div>
</section>

</div>
<br>

<%= will_paginate @hotels %>

  <%= link_to 'New Hotel', new_hotel_path%>