<div class="body_hotel">
  <div class="col-xs-4 col-sm-9" id="cus_rooms" style="padding-left:40px">
    <%= render @hotel.rooms %>
  </div>
  <div class="col-xs-4 col-sm-3" id="cus_showhotel">
    <div id="cus_hotel">
      <p>
        <h1><%= @hotel.name %></h1>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @hotel.description %>
      </p>
      <p>
        <strong>User:</strong>
        <%= @hotel.user.name %>
      </p>
      <p>
        <%@hotel.picture.each do |image|%>
          <%= image_tag image.url , width:350%>
        <% end%>
      </p>
      
      <%if @hotel.location != nil %>
      <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@hotel.location.latitude}%2C#{@hotel.location.longitude}" %>
      <%end%>
    </div>
    <div>
      <% if can? :update, @hotel %>
        <hr class="omb_hrOr">
        <div id="cus_addroom">
          <h2>ADD A ROOM</h2>
          <%= render 'rooms/form' %>
        <% end %>
      </div>
      <% if can? :update, @hotel %>
        <div class="col-sm-6" style="padding:20px 5px 50px 0">
          <%= link_to 'Edit', edit_hotel_path(@hotel), class:"btn btn-lg btn-success btn-block" %>
        </div>
        <div class="col-sm-6" style="padding:20px 0 50px 5px">
          <%= link_to 'Back', hotels_path, class:"btn btn-lg btn-warning btn-block" %>
        </div>
      <% else %>
        <div class="col-sm-12" style="padding:20px 0 50px 5px">
          <%= link_to 'Back', hotels_path, class:"btn btn-lg btn-warning btn-block" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
