<p>
  <strong>Name:</strong>
  <%= @hotel.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @hotel.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @hotel.user.name %>
</p>
<p>
  <strong>Image url:</strong>
            <%@hotel.picture.each do |image|%>
          <%=  image_tag image.url  %>
          <% end%>
</p>

<h2>Rooms</h2>
<%= render @hotel.rooms %>
<% if can? :update, @hotel %>
  <h2>Add a room</h2>
  <%= render 'rooms/form' %>

  <%= link_to 'Edit', edit_hotel_path(@hotel) %>
<% end %>
<%= link_to 'Back', hotels_path %>
