<div class="panel-body">
<%= form_for :location, url: hotel_locations_path(@hotel.id),method: :POST do |form| %>
  <% if location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= form.text_field :address, id: :location_address, class:"form-control" %>
<button class="btn btn-lg btn-primary col-sm-12" style="margin-top:20px" type="submit">ADD</button>



<div style= "text-align:center">
    <%= link_to 'Skip', hotel_path(@hotel) , style: "text-align:center"%>
</div>
<% end %>
</div>