<link rel="stylesheet" type="text/scss" href="custom.scss">
<link href="http://allfont.net/allfont.css?fonts=p22-corinthia" rel="stylesheet" type="text/css"/>

<section class="hero">
	<header>
		<div class="wrapper" >
			<%= link_to "#{image_tag("home.png", :width => 100, :height => 100)}".html_safe, root_path %>
			<a href="#" class="hamburger"></a>
			<nav>
				<ul>
					<li>
						<% if user_signed_in? %>
					
						<% if current_user.try(:admin?) %>
							
              <%= link_to "Admin" , rails_admin_path %>
							  </li>
						<%end%>
            <% if current_user.hotels.empty? %>
													<li>

              <%= link_to "Become a host" , new_hotel_path %>
							            </li>

            <% else %>
              <%= link_to "Add a new list" , new_hotel_path %>
							  <li>
                  <%= link_to "My Hotels", my_hotel_path %>
                </li>


 

              </ul>
            <%end%>
          <% else %>
            <%= link_to "Become a host" , new_user_session_path %>
          <%end%>			

				</ul>
				
				<ul>
					<% if user_signed_in? %>

												  <li>
                  <%= link_to "My Order", orders_path %>
                </li>		
					 	<li></i><%= link_to "Settings", edit_user_registration_path %></li>
						<li></i><%= link_to "Log out", destroy_user_session_path ,method: :delete%></li>


						<% else %>
							<li>
								<%= link_to "Sign Up", new_user_registration_path %>
							</li>
							<li>
								<%= link_to "Log In" , new_user_session_path%>
							</li>
						<% end %>
					</ul>
				</nav>

			</div>
		</header>
		<!-- end header section -->

		<section class="caption">
			<h2 class="caption">Find You Dream Hotel</h2>

		</section>
</canvas>
	</section>
	<section class="search">
		<div class="wrapper">
			<%= form_tag hotels_path, method: :get do %>
			<%= text_field_tag "term", params[:term], placeholder: "What are you looking for?", id:"search" %>
			<!-- <input type="submit" ,id="submit_search" name="submit_search"/> -->
		<% end%>
	</section>
	</div>
	<!-- end hero section -->
