<link rel="stylesheet" type="text/scss" href="custom.scss">
<link href="http://allfont.net/allfont.css?fonts=p22-corinthia" rel="stylesheet" type="text/css"/>

<section class="hero">
	<header>
		<div class="wrapper" >
			<%= link_to "#{image_tag("home.png", :width => 100, :height => 100)}".html_safe, root_path %>
			<a href="#" class="hamburger"></a>
			<nav>
				<ul>
					<li>
						<% if user_signed_in? %>
					
						<% if current_user.try(:admin?) %>
							
              <%= link_to "Admin" , rails_admin_path %>
							  </li>
						<%end%>
							<li>
            <% if current_user.hotels.empty? %>
              <%= link_to "Become a host" , new_hotel_path %>
            <% else %>
              <%= link_to "Add a new list" , new_hotel_path %>
							  <li>
                  <%= link_to "My Hotels", my_hotel_path %>
                </li>


 

              </ul>
            </li>
            <%end%>
          <% else %>
            <%= link_to "Become a host" , new_user_session_path %>
          <%end%>			

				</ul>
				
				<ul>
					<% if user_signed_in? %>

												  <li>
                  <%= link_to "My Order", orders_path %>
                </li>		
					 	<li></i><%= link_to "Settings", edit_user_registration_path %></li>
						<li></i><%= link_to "Log out", destroy_user_session_path ,method: :delete%></li>


						<% else %>
							<li>
								<%= link_to "Sign Up", new_user_registration_path %>
							</li>
							<li>
								<%= link_to "Log In" , new_user_session_path%>
							</li>
						<% end %>
					</ul>
				</nav>

			</div>
		</header>
		<!-- end header section -->

		<section class="caption">
			<h2 class="caption">Find You Dream Hotel</h2>

		</section>
</canvas>
	</section>

	<!--
	<section class="search">
		<div class="wrapper">
			<%= form_tag hotels_path, method: :get do %>
			<%= text_field_tag "term", params[:term], placeholder: "What are you looking for?", id:"search" %>
			<!-- <input type="submit" ,id="submit_search" name="submit_search"/> -->
		<% end%>
	</section>
	</div>
	<!-- end hero section
	-->
	<section>
		<div class="container">
				<div class="row">
					<div class="col-sm-2 col-xs-6">
						<div><label>Thành phố</label></div>
						<div>
							<select style="width: 100%;">
								<option>Hồ Chí Minh</option>
								<option>Hà Nội</option>
								<option>Huế</option>
								<option>Đà Lạt</option>
								<option>Nha Trang</option>
								<option>Đà Nẵng</option>
								<option>Hải Phòng</option>
								<option>Vũng Tàu</option>
								<option>Tiền Giang</option>
								<option>Tây Ninh</option>
								<option>Quy Nhơn</option>
								<option>Bình Định</option>
							</select>
						</div>
					</div>
					<div class="col-sm-2 col-xs-6">
						<div><label>Giá</label></div>
						<div>
							<select style="width: 100%;">
								<option>0 - 200.000</option>
								<option>200.000 - 300.000</option>
								<option>300.000 - 400.000</option>
								<option>Trên 400.000</option>
							</select>
						</div>
					</div>
					<div class="col-sm-2 col-xs-12" style="color:white">
						<div class="d-none d-sm-visible" style="visibility: hidden;">Tìm kiếm</div>
						<button style="background-color: red; height: 100%; width: 100%; border:0; margin-top:5px">Tìm kiếm</button>
					</div>
				</div>
		</div>
	</section>