<!DOCTYPE html>
<html>
  <head>
    <title>Hotel Booking</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-no-turbolink' => true  %>
    <%= javascript_include_tag 'application', 'data-no-turbolink' => true  %>
    </head>
    
<%= render "layouts/header"%>
<p id="notice" >
  <%= notice %>
</p>
  <body>
    <%= yield %>
  </body>
</html>
